div(class="footer")
	ul(id="nav_ft_1", class="nav_ft navLine-ul")
		li
			a(href="page1", data-dir="left")="1"
		li
			a(href="page2", data-dir="bottom")="2"
		li
			a(href="page3", data-dir="right")="3"
		li
			a(href="page4", data-dir="top")="4"
		li
			a(href="page5", data-dir="left")="5"
		li
			a(href="page6", data-dir="bottom")="6"
		li
			a(href="page7", data-dir="right")="7"
		li
			a(href="page8", data-dir="top")="8"